@using The_Medallion_Theater.Models;

@model List<Performance>;
@{
    ViewData["Title"] = "MT : Browse performances";
    Layout = "_Layout";
}


<div class="pl-performance-list">
    <h1 class="pl-title">Performances</h1>
    <div class="pl-scrollable">
        <ul class="pl-list">
            @foreach (var pr in @Model){
            <li class="pl-item">
                <div class="pl-performance">
                    <h2 class="pl-performance-title"> @pr.PerformanceName </h2>
                    <p class="pl-performance-info">Production: @pr.ProductionName </p>
                        <p class="pl-performance-info">Date: @pr.PerformanceDate.Date.ToShortDateString()</p>
                    @{
                            string timeText = Enum.GetName(typeof(PerformanceTime), pr.PTime).ToString();

                    }
                    <p class="pl-performance-info">Time: @timeText</p>
                    <div class="pl-buttons">
                        <button class="pl-book-now">
                                <a asp-action="BookNow" asp-route-id="@pr.PerformanceID">Book Now </a>
                            </button>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>
