@using The_Medallion_Theater.Models;

@model PerformanceVm
@{
    ViewData["Title"] = "MT : Edit Performance";
    Layout = "_Layout";

}

<form action="EditPerformance" method="Post">

    <h1>Edit Performance Form</h1>

    <div class="ap-div-group">
        <label class="ap-label">Performance id </label>
        <input type="text" readonly="readonly" class="form-control" asp-for="PerformanceID" value="@Model.PerformanceID">
    </div>

    <div class="ap-div-group">
        <label class="ap-label">Performance Name</label>
        <input type="text" class="form-control" asp-for="PerformanceName" value="@Model.PerformanceName" >
    </div>

    <div class="ap-div-group">
        <label class="ap-label">Production type</label>
        <select class="form-control" asp-for="ProductionName" value="@Model.ProductionName">
            @foreach (var pr in Model.prods)
            {
                <option value="@pr.ProductionName"> @pr.ProductionName </option>
            }
        </select>
    </div>

    <div class="ap-div-group">
        <label class="ap-label">Performance Date</label>
        <input type="datetime-local" class="form-control" asp-for="PerformanceDate" value="@Model.PerformanceDate.ToString("yyyy-MM-ddTHH:mm")">        
    </div>

    <div class="ap-div-group">
        <label class="ap-label">Production type</label>
        <select class="form-control" asp-for="PTime">
            <option value="afternoon"> Afternoon </option>
            <option value="manitee"> Manitee </option>
        </select>
    </div>

    <br />

    <button class="bookBtn" type="submit"> Edit Performance </button>



</form>
